# macOS
.DS_Store
._*

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# Xcode
xcuserdata/
DerivedData/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcworkspace/xcuserdata/

# Build artifacts
*.ipa
*.dSYM.zip
*.dSYM
*.hmap
